# LIST

In [1]:
salaries = ['20k','40k','50k','60k','35k','89k','40k']

In [2]:
len(salaries)

7

In [4]:
##Positive Indexing
salaries [3]

'60k'

In [6]:
##Reversable Indexing
salaries [-7]

'20k'

In [8]:
##Slicing
salaries [2:5]

['50k', '60k', '35k']

In [19]:
##Append method
salaries= ['20k','40k','50k','60k','35k','89k','40k']
salaries.append('100k')

In [20]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [21]:
##add value without method
salaries = salaries + ['120k']
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [28]:
##changing values in a list
salaries[3]='55k'
salaries

['20k', '40k', '50k', '55k', '35k', '89k', '40k', '100k', '120k']

In [27]:
##count values
count=salaries.count('40k')
print(count)

2

In [33]:
##insert 
sal =['10k']
salaries = salaries[:2] + sal + salaries[2:]

In [34]:
salaries

['20k', '40k', '10k', '50k', '55k', '35k', '89k', '40k', '100k', '120k']

In [35]:
sal =['10k']
salaries.insert(2,sal)
salaries

['20k',
 '40k',
 ['10k'],
 '10k',
 '50k',
 '55k',
 '35k',
 '89k',
 '40k',
 '100k',
 '120k']

In [36]:
##reverse function
salaries.reverse()
salaries

['120k',
 '100k',
 '40k',
 '89k',
 '35k',
 '55k',
 '50k',
 '10k',
 ['10k'],
 '40k',
 '20k']

In [37]:
## reverse without function
salaries =salaries[::-1]
salaries

['20k',
 '40k',
 ['10k'],
 '10k',
 '50k',
 '55k',
 '35k',
 '89k',
 '40k',
 '100k',
 '120k']